<!doctype html>
<html>
<head>
    <title>Bavarian Dictionary</title>
</head>
<body>
<h1>Boari&scaron;s Lexikon</h1>

<p>&nbsp;</p>

<form action="word_request" method="post">
{% csrf_token %}
<p><select name="language1"><option selected="selected" value="ENG">English</option><option value="BAR">Bavarian</option><option value="GER">German</option><option value="SPA">Spanish</option></select>&nbsp;&nbsp;<select name="language2"><option value="ENG">English</option><option selected="selected" value="BAR">Bavarian</option><option value="GER">German</option><option value="SPA">Spanish</option></select></p>

<p><input name="search_word" type="text" /> &nbsp;<input type="submit" value="GO" /></p>
</form>

<p>&nbsp;</p>

<table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
    <tbody>
        {% for word in words.all %}
            <tr>
                <td>{{ word.word }}</td>
                <td>
                    <table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
                        <tbody>
                            {% for synonym in word.synonyms %}
                                <td>{{ synonym.word }}</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<p>{% block content %}{% endblock %}</p>

<hr /></body>
</html>
