{% extends 'share/base_site.html' %}
{% load i18n %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1>
            {{ object.word }}&nbsp<small>({{ object.ipa }})&nbsp<i class="glyphicon glyphicon-volume-up"></i><a
                href="">&nbsp{{ object.audio }}</a></small>
        </h1>
        <p>{{ object.status }}</p>
        <p>{% for tag in tags %}
          {{ tag }}
        {% endfor %}
        </p>
        <p>{{ object.wiktionary_link }}</p>

      </div>
      <div class="col-md-4">
        <a class="button" href="{% url 'word:edit_view' object.id %}" id="suggest_translation">{% trans "Edit" %}</a>
        <p>{{ object.version }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4><strong>{% trans "Description" %}</h4></strong>
          {% for desc in descriptions %}
          <h5>
            {{ desc.language.name }}
          </h5>
          <p>
            {{ desc.short }}
          </p>
          <p>
            {{ desc.extended }}
          </p>
        {% endfor %}
      </div>
    <!--using bootstrap-->
      <div class="col-md-3">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select language
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              {% for desc in descriptions %}
            <li><a id="{{ desc.language.name }}">{{ desc.language.name }}</a></li>
              {% endfor %}
           </ul>
        </div>
      </div>
      <!---->
    <!--using selectize-->
    <div class="col-md-3">
      <select id="language">
          <option value="">Select language</option>
          {% for desc in descriptions %}
          <option value="{{ desc.language.name }}">{{ desc.language.name }}</option>
          {% endfor %}
      </select>
    </div>
    <!--using select-options-->
    <div class="col-md-3">
      <select id="language_desc">
          <option value="">Select language</option>
          {% for desc in descriptions %}
          <option value="{{ desc.language.name }}" class="language_option">{{ desc.language.name }}</option>
          {% endfor %}
      </select>
    </div>
    <div id="desc">
        {% for desc in descriptions %}
            {% if desc.language.name == variable %}
                <p id="desc_short" >{{ desc.short }}</p>
                <p id="desc_long">{{ desc.extended }}</p>
            {%  endif %}
        {% endfor %}
    </div>



    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>
                {% trans "Language" %}
              </th>
              <th>
                {% trans "Word" %}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for synonym in synonyms %}
              <tr>
                <td>
                  {{ synonym.version.language.name }}
                </td>
                <td>
                  <a class="{% if synonym.status == 'SUG' %}lightgrey-text{% else %}black-text{% endif %}" href="{% url 'word:word_view' synonym.id %}">
                    {{ synonym.word }}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div id="map" style="width:100%;height:500px"></div>
  </div>
{% endblock %}

{% block script %}
<script>

function myMap() {
  var heatmapData = [];
  var myCenter = new google.maps.LatLng(47.9316939,12.6261546);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 6};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var geocoder = new google.maps.Geocoder();
  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatmapData
  });

  {% for address in locations %}
  var address = "{{ address.place }}";
  geocoder.geocode({ 'address': address }, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        var latitude = results[0].geometry.location.lat();
        var longitude = results[0].geometry.location.lng();
        var pos = new google.maps.LatLng(latitude,longitude);
        var marker = new google.maps.Marker({
          position:pos
        });
        marker.setMap(map);
        heatmapData.push(pos);
        heatmap.setMap(map);
    }
  });
  {% endfor %}
}

$(document).ready(function() {
    $('#language').selectize({
    create: true,
    sortField: 'text'
    });

    $('#language_desc').click(function(){
            var option1 = $('#language_desc').val();
            console.log(option1);
    });

});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhu-iZmNwpCjsuQyqH5p1ea69HU0xbDgo&callback=myMap&libraries=visualization">
</script>
{% endblock %}
