{% extends 'share/base_site.html' %}
{% load i18n %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h1>
            {{ object.word }}&nbsp<small>({{ object.ipa }})&nbsp<i class="glyphicon glyphicon-volume-up"></i><a
                href="">&nbsp{{ object.audio }}</a></small>
        </h1>
        <p><strong>Status: </strong>{{ object.status }}</p>
        <p><strong>Tags: </strong>{% for tag in tags %}
          {{ tag }}
        {% endfor %}
        </p>
        <p><strong>Wiktionary link: </strong>{{ object.wiktionary_link }}</p>

      </div>
      <div class="col-md-2">
        <a class="button" href="{% url 'word:edit_view' object.id %}" id="suggest_translation">{% trans "Edit" %}</a>
        <p>{{ object.version }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-6">
                  <h4><strong>{% trans "Description" %}</h4></strong>
              </div>
              <div class="col-md-6">
                  <select id="language_desc" class="btn btn-default dropdown-toggle"">
                      <option  class="dropdown-menu" value="">Select language</option>
                      {% for desc in descriptions|dictsort:'language.id' %}
                          {% ifchanged %}
                            <option value="{{ desc.language.id }}">{{ desc.language.name }}</option>
                          {% endifchanged %}
                      {% endfor %}
                  </select>
              </div>
          </div>
          <div id="desc"><br><br>
          </div>
      </div>
      <div class="col-sm-12 col-md-6">
          <div class="row">
              <div class="col-md-6">
                <h4><strong>{% trans "Synonyms" %}</h4></strong>
              </div>
              <div class="col-md-6">
                  <select id="synonyms_language" class="btn btn-default dropdown-toggle"">
                      <option  class="dropdown-menu" value="">Select language</option>
                      {% for synonym in synonyms|dictsort:'version.language.id' %}
                          {% ifchanged %}
                            <option value="{{ synonym.version.language.id }}">{{ synonym.version.language.name }}</option>
                          {% endifchanged %}
                      {% endfor %}
                  </select>
              </div>

          </div>
          <div id="synonyms"><br><br>
          </div>
      </div>
    </div>


    <div id="map" style="width:100%;height:500px"></div>
  </div>
{% endblock %}

{% block script %}
<script>

function myMap() {
  var heatmapData = [];
  var myCenter = new google.maps.LatLng(47.9316939,12.6261546);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 6};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var geocoder = new google.maps.Geocoder();
  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatmapData
  });

  {% for address in locations %}
  var address = "{{ address.place }}";
  geocoder.geocode({ 'address': address }, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        var latitude = results[0].geometry.location.lat();
        var longitude = results[0].geometry.location.lng();
        var pos = new google.maps.LatLng(latitude,longitude);
        var marker = new google.maps.Marker({
          position:pos
        });
        marker.setMap(map);
        heatmapData.push(pos);
        heatmap.setMap(map);
    }
  });
  {% endfor %}
}

$(document).ready(function() {
    $('#language').selectize({
    create: true,
    sortField: 'text'
    });

    $('#language_desc').click(function(){
        var language_option = $('#language_desc').val();
        var word_id = "{{ object.id }}"

        $.getJSON('/api/word/descriptions/?word_id=' + word_id + '&language_str=' + language_option, function (result) {
            var desc_short = result[0].short;
            var desc_long = result[0].extended;
            $( "#desc" ).empty();
            $( "#desc" ).append('<p> ' + desc_short + '</p>' + '<p> ' + desc_long + '</p>');
        });
    });

    $('#synonyms_language').click(function(){
        var language_option = $('#synonyms_language').val();
        var word_id = "{{ object.id }}";

        $.getJSON('/api/word/synonyms/?word_id=' + word_id + '&language_str=' + language_option, function (result) {
            $( "#synonyms" ).empty();

            $.each(result, function(index, value) {
                var synonym = value.word;
                var synonym_id = value.id;
                if (value.status == 'SUG') {
                   $( "#synonyms" ).append('<a class="lightgrey-text" href="/word/view/'+ synonym_id + '">' + synonym + '</a> ')
                }
                else {
                    $( "#synonyms" ).append('<a class="black-text" href="/word/view/'+ synonym_id + '">' + synonym + '</a> ')
                }
            });
        });
    });

});
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhu-iZmNwpCjsuQyqH5p1ea69HU0xbDgo&callback=myMap&libraries=visualization">
</script>
{% endblock %}
