{% extends 'share/base_site.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container suggest_form">
    <form id="add_word_form" class="form-horizontal" role="form"
         action="{% url 'word:suggest_view' %}"
         enctype="multipart/form-data"
         method="post">
      {% csrf_token %}
      <div class="form-group">
        <label class="col-sm-2 control-label"
              for="user_languages" >{% trans "Language variant" %}</label>
        <div class="col-sm-4">
          <select id="user_languages" class="form-control" name="language" required>
            {% for lan in user_languages %}
              <option value="{{ lan.language.default_variant }}">{% trans lan.language.default_variant %}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"
                  for="add_word_word">{% trans "Word" %}*</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"
            id="add_word_word" name="word" required />
          <div class="text-danger error-messages" style="display:none;"></div>

        </div>
        <div class="col-sm-offset-2 col-sm-10 similar_words">

        </div>


      </div>
      <div class="form-group advanced-options">
        <label class="col-sm-2 control-label"
                  for="add_word_ipa">{% trans "IPA" %}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"
            id="add_word_ipa" name="ipa"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">{% trans "Short Description" %}</label>
      </div>
      <div class="form-group">
        {% for lan in user_languages %}
          {% if lan.proficiency == "advanced" or lan.proficiency == "fluent" or lan.proficiency == "native" %}

            <div>
              <label class="col-sm-2 control-label" for="description_short_{{ lan.language.name }}">In {% trans lan.language.name %}</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="description_short_{{ lan.language.name }}"
                        name="desc_short_{{ lan.language.name }}"></textarea>
              </div>
            </div>
            <div class="long-desc long_description_{{ lan.language.name }}">
                <label class="col-sm-2 control-label" for="add_word_description_long">{% trans "Long Description" %}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="add_word_description_long"
                            name="desc_long_{{ lan.language.name }}"></textarea>
                </div>
            </div>

          {% endif %}
        {% endfor %}
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="tag">{% trans "Tags" %}</label>
        <div class="col-sm-10">
            <select id="tag" name="tags">
                <option disabled selected value></option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" style="border:solid yellow 1px;">{% trans "Audio" %}</label>
        <div class="col-sm-10 audio"></div>
        <div class="col-sm-offset-2"  style="padding-left:15px;">
             <div class="row">
                <div class="col-sm-3" style="border:solid 1px;">
                <label for="files" class="btn btn-default">Choose file</label>

                <input id="files" style="visibility:hidden" type="file" name="file" accept="audio/*"/>
                {% if uploaded_file_url %}
                  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                {% endif %}
                </div>
                <div class="col-sm-9 filename" style="border:solid yellow 1px;">
                </div>
             </div>
        </div>
      </div>
      <div class="form-group advanced-options">
        <label class="col-sm-2 control-label" for="synonym">{% trans "Synonyms" %}</label>
        <div class="synonym col-sm-10">
            <select id="synonym" name="synonyms">
                <option disabled selected value></option>
            </select>
        </div>
      </div>

      <div class="form-group advanced-options">
        <label class="col-sm-2 control-label">{% trans "Wiktionary link" %}</label>
        <div class="col-sm-5">
            <input type="text" class="form-control"
            id="add_wiktionary_link" name="wiktionary_link" placeholder="Copy the Wiktionary link and paste it here"/>
        </div>
        <div class="col-sm-5">
         <a class="wiktionary_link" target="_blank" href="https://en.wiktionary.org/wiki/example">Wiktionary</a>
        </div>
      </div>
      <div class="form-group advanced-options">
        <label class="col-sm-2 control-label"
                  for="add_word_location">{% trans "Confirmed Location" %}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control"
            id="add_word_location" name="location" value="{{ request.user.profile.place }}"/>
        </div>
      </div>

      <div class="form-group">
        <a class="col-sm-2 link control-label">advanced</a>
      </div>
        <br>
      <div class="form-group">
        <div class="col-xs-offset-1 col-xs-3">
          <button type="submit" class="btn btn-primary">{% trans "Suggest" %}</button>
        </div>

        <div class="col-xs-offset-2 col-xs-3 col-sm-offset-4 col-sm-3">
          <a class="btn btn-primary suggest-another-button">{% trans "Suggest another" %}</a>
        </div>

      </div>
    </form>
</div>

<script>
$(document).ready(function(){
    $('.link').on('click', function () {
         $('.advanced-options').slideToggle("fast");
    });

    $('.suggest-another-button').on('click', function() {
       var word = $("#add_word_word").val();
       word = word.trim();
       if (word == "")  {
            $(".error-messages").text("Please fill out this field").fadeIn("fast");
            $(".error-messages").fadeOut(3000);
            return;
       }

       $.ajax({
            url:'/word/suggest/',
            type:'post',
            data:$('#add_word_form').serialize(),
            success: function(){
                $('#add_word_form')[0].reset();
                $(".similar_words" ).empty();
                var $select = $('#tag').selectize();
                var control = $select[0].selectize;
                control.clear();
                var $select = $('#synonym').selectize();
                var control = $select[0].selectize;
                control.clear();
            }
       });
    });

    $( "#user_languages" ).on('change', function() {
        var word = $( "#add_word_word" ).val()
        var language = $('#user_languages').val()

        $.getJSON('/api/similar_words/?word='+ word + '&language=' + language, function (result) {
            var words = result.similar_words_found;
            $( ".similar_words" ).empty();
            for (index = 0; index < words.length; ++index) {
                  var word_dict = words[index];
                  console.log(word_dict);
                  $( ".similar_words" ).append('<a target="_blank" href="/word/view/' + word_dict.id + '">' + word_dict.word + ':' + word_dict.desc + ' </a>' + '&nbsp&nbsp');
            }
        });
    })

    $( "#add_word_word" ).focusout(function() {
        var word = $( "#add_word_word" ).val()
        var language = $('#user_languages').val()

        $.getJSON('/api/similar_words/?word='+ word + '&language=' + language, function (result) {
            var words = result.similar_words_found;
            $( ".similar_words" ).empty();
            for (index = 0; index < words.length; ++index) {
                  var word_dict = words[index];
                  console.log(word_dict);
                  $( ".similar_words" ).append('<a target="_blank" href="/word/view/' + word_dict.id + '">' + word_dict.word + ':' + word_dict.desc + ' </a>' + '&nbsp&nbsp');
            }
        });
    })

     $('.wiktionary_link').on('click', function () {
         var word = $('#add_word_word').val();
         $('a[href^="https://en.wiktionary.org/wiki/example"]').each(function(){
            var oldUrl = $(this).attr("href"); // Get current url
            var newUrl = oldUrl.replace("example", word); // Create new url
            $(this).attr("href", newUrl); // Set href value
        });
    });
    $("option[value='{{ default_variant }}']").attr('selected', 'true');
    $('[id^=description_short_]').on('click', function () {
         var my_id = $(this).attr("id");
         var language = my_id.split("_")[2];
         var long_description_id = "long_description_" + language;
         $('.' + long_description_id).slideToggle("fast");
         $('.' + long_description_id).focusout(function() {
             $('.' + long_description_id).hide();
         });
    });
    $('#tag').selectize({
        maxItems: 4,
        valueField: 'name',
        labelField: 'name',
        searchField: ['name', 'description'],
        options: [
        {% for tag in tags %}
             {name: '{%trans tag.name %}', description: '{{ tag.description }}' },
         {% endfor %}
        ],
        render: {
            option: function(item, escape) {
                var label = item.name || item.description;
                var caption = item.name ? item.description : null;
                return '<div>' +
                    '<span class="label label-default">' + escape(label) + '</span>' +
                    (caption ? ' <span class="caption">' + escape(caption) + '</span>' : '') +
                '</div>';
            }
        },
         {% if user_moderator %}
            create: true,
        {% endif %}
    });
    $('#synonym').selectize({
        maxItems: 4,
        valueField: 'name',
        labelField: 'name',
        searchField: ['name', 'description'],
        options: [
        {% for synonym in synonyms %}
            {name: '{% trans synonym.word %}', description: '{{ synonym.desc.all.0.short }}' },
        {% endfor %}
        ],
        render: {
            option: function(item, escape) {
                var label = item.name || item.description;
                var caption = item.name ? item.description : null;
                return '<div>' +
                    '<span class="label label-default">' + escape(label) + '</span>' +
                    (caption ? ' <span class="caption">' + escape(caption) + '</span>' : '') +
                '</div>';
            }
        },
    });
    $("#files").change(function() {
        filename = this.files[0].name
        console.log(filename);
        $(".filename").html(filename);
    })
});
</script>
<script>
    'use strict';

    function getUserAudioStream() {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            return navigator.mediaDevices.getUserMedia({ audio: true });
        }

        var getUserMedia = navigator.getUserMedia
                        || navigator.webkitGetUserMedia
                        || navigator.mozGetUserMedia
                        || navigator.msGetUserMedia;

        return new Promise(function (resolve, reject) {
            getUserMedia.call(navigator, { audio: true }, resolve, reject);
        });
    }

    function main() {
        getUserAudioStream().then((mediaStream) => {
            stuff(mediaStream);
        });
    }

    window.addEventListener('load', main);

    function showAudio(url) {
        var div = document.createElement('div');
        div.style.width = '300px';

        var audio = document.createElement('audio');
        audio.controls = true;
        audio.src = url;
        div.appendChild(audio);

        var link = document.createElement('a');
        link.download = 'recording.ogg';
        link.href = url;
        link.innerHTML = 'download';
        div.appendChild(link);
        console.log(url);

        var info = document.createElement('p');
        info.className = "form-text text-muted";
        info.innerHTML = "After recording you need to 'download' and then 'Choose file' to upload to Servare";
        div.style.border = 'solid gray 1px';
        div.style.borderRadius = '5px';


        div.appendChild(info);

        document.querySelector(".audio").appendChild(div);
    }

    function downloadBlob(url) {
        var promise = new Promise((resolve, reject) => {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'blob';

            xhr.onload = function () {
                resolve(xhr.response);
            };

            xhr.send();
            console.log("xhr");
            console.log(xhr);
        });
        console.log("ppppromise");
        console.log(promise);
        return promise;
    }

    function stuff(mediaStream) {
        console.log(mediaStream);

        var recorder = new VorbisMediaRecorder(mediaStream, { audioBitsPerSecond: 32000 });

        console.log(recorder);

        var chunks = [];

        recorder.ondataavailable = (ev) => {
            console.log(ev.data);
            chunks.push(ev.data);
        };

        recorder.onstart = () => {
            console.log('start');
        };

        recorder.onstop = () => {
            console.log('stop');
            var blob = new Blob(chunks, { type: chunks[0].type });
            chunks = [];
            var url = URL.createObjectURL(blob);

            downloadBlob(url).then(blob => {
                showAudio(URL.createObjectURL(blob));
            });
        };

        var button = document.createElement('button');
        button.innerHTML = 'Record File';
        button.className = 'btn btn-default';
        button.onclick = () => {
            if (recorder.state === 'recording') {
                recorder.stop();
                button.innerHTML = 'Record File';
            } else {
                recorder.start();
                button.innerHTML = 'stop';
            }
        };
        document.querySelector(".audio").appendChild(button);
    }
</script>
{% endblock %}
