{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>
                {% trans "Word" %}
              </th>
              <th>
                {% trans "Status" %}
              </th>
              <th>
                {% trans "Version" %}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr>
                <td>
                  <a class="btn" href="{% url 'word:word_view' object.id %}">{{ object.word }}</a>
                </td>
                <td>
                  {{ object.status }}
                </td>
                <td>
                  {{ object.version }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
