{% extends 'home/base_home.html' %}
{% load i18n %}

{% block subcontent %}
  <h1>
    {% trans "About Us" %}
  </h1>
  <p>
    {% trans "We are a bunch of people who love our native language and are sad to see it suffering. This platform gives us the opportunity to save them by developing a standard way of writing, dictionaries, translator, courses and more. Join us and help to prevent hundreds of years of living history from dying out." %}
  </p>
  <p>
    Email: matthias.schreiber@servare.org
  </p>
{% endblock %}
