{% extends 'share/base_site.html' %}

{% block content %}
  {% include "share/navbar.html" %}
  <div class="page-header">
    <h1>Boar.bar&nbsp;<small>A Saiddn Blos Fia Uns</small></h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="list-group">
          <a href="home" class="list-group-item{% if 'home/home' in request.path %} active{% endif %}" id="home_nav">Hoam</a>
          <a href="news" class="list-group-item{% if 'home/news' in request.path %} active{% endif %}" id="news_nav">Nais</a>
          <a href="ogf" class="list-group-item{% if 'home/ogf' in request.path %} active{% endif %}" id="ogf_nav">OGF - Ofd Gfrågde Frong</a>
          <a href="guest" class="list-group-item{% if 'home/guest' in request.path %} active{% endif %}" id="guest_nav">Gasd Biahe</a>
          <a href="about" class="list-group-item{% if 'home/about' in request.path %} active{% endif %}" id="about_nav">Iva Uns</a>
        </div>
      </div>
      <div class="col-md-10">
        {% block subcontent %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
