{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="page-header">
    <h1>{% trans "Protect" %}&nbsp;<small>{% trans "your native language" %}</small></h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="list-group">
          <a href="{% url 'home:home_view' %}" class="list-group-item{% if '/home/' == request.path %} active{% endif %}" id="home_nav">{% trans "Home" %}</a>
          <a href="{% url 'home:news_view' %}" class="list-group-item{% if '/home/news/' == request.path %} active{% endif %}" id="news_nav">{% trans "News" %}</a>
          <a href="{% url 'home:ogf_view' %}" class="list-group-item{% if '/home/ogf/' == request.path %} active{% endif %}" id="ogf_nav">{% trans "FAQ" %}</a>
          <a href="{% url 'home:guest_view' %}" class="list-group-item{% if '/home/guest/' == request.path %} active{% endif %}" id="guest_nav">{% trans "Guest Book" %}</a>
          <a href="{% url 'home:about_view' %}" class="list-group-item{% if '/home/about/' == request.path %} active{% endif %}" id="about_nav">{% trans "About Us" %}</a>
        </div>
      </div>
      <div class="col-md-10">
        {% block subcontent %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
