{% extends 'share/base_site.html' %}

{% block content %}
  {% include "share/navbar.html" %}
  <div class="page-header">
    <h1>Boar.bar&nbsp;<small>A Saiddn Blos Fia Uns</small></h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="list-group">
          <a href="#" class="list-group-item active">Hoam</a>
          <a href="#" class="list-group-item">Nais</a>
          <a href="#" class="list-group-item">Gasd Biahe</a>
          <a href="#" class="list-group-item">Iva Uns</a>
        </div>
      </div>
      <div class="col-md-10">
        <h1>
          Hoam
        </h1>
        <p>
          Vuikumma! Ån dera saiddn voad oivai no gveagld, aiso sai ma ned bes ven's no ned so guad aus šaugd.
        </p>
        <p>
          Es is no fui zum doa, aiso vensd heiffa vuisd, šraib ma a nåhrihd: mat@boar.bar.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
