<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bavarian Dictionary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
      background-color: #5DA984;
    }

    .navbar-default .navbar-nav > li a:hover {
      background-color: #348960;
    }

    #navbar_items > li {
      border-right: 1px solid #bbb;
    }

    /* Navbar text color */
    #brand, .nav.navbar-nav li a, .nav.navbar-nav.navbar-right li a {
      color: white;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .row.content {height:auto;}
    }
  </style>
</head>


<body>
{% csrf_token %}

<nav class="navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dict_navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id='brand' class="navbar-brand" href="#">Boariš</a>
    </div>
    <div class="collapse navbar-collapse" id="dict_navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Lexikon</a></li>
        <li><a href="#">Ivasezza</a></li>
        <li><a href="#">Leana</a></li>
        <li><a href="#">Gramaddig</a></li>
        <li><a href="#">Såmmlung</a></li>
        <li><a href="#">Diskusion</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<br></br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <button type="button" class="btn">{{ origin }}</button>
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% for lang in languages.all %}
            <li><a href="#">{{ lang.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn">{{ target }}</button>
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% for lang in languages.all %}
            <li><a href="#">{{ lang.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <button type="button" class="btn">GO</button>
    </div>
  </div>
  <br></br>
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="txt">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        {% for word in words.all %}
          <tr>
            <td>
              <a
                data-toggle="popover"
                data-html="true"
                data-content='
                  <table class="table">
                    <tr>
                      <td>Searched:</td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td>Created:</td>
                      <td>2016-06-04</td>
                    </tr>
                    <tr>
                      <td>Upvotes:</td>
                      <td>11</td>
                    </tr>
                    <tr>
                      <td>Downvotes:</td>
                      <td>1</td>
                    </tr>
                  </table>
                  <a href="#">View Discussions</a>
                  <a href="#">Create Discussion</a>
                  <a href="#">View History</a>'>
                {{ word.word }}
              </a>
            </td>
            <td>
              <table class="table table-striped">
                {% for synonym in word.synonyms.all %}
                  {% if synonym.language.name == target %}
                    <td>{{ synonym.word }}</td>
                  {% endif %}
                {% endfor %}
              </table>
              <button type="button" class="btn" data-toggle="modal" data-target="#add_synonym">Add Synonym</button>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
  <button type="button" class="btn" data-toggle="modal" data-target="#add_word">Add Word</button>
  </div>
</div>


<div class="modal fade" id="add_word" tabindex="-1" role="dialog" 
     aria-labelledby="add_word_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="add_word_title">
                    Suggest Word
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="add_word_word">Word</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                        id="add_word_word"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="add_word_language" >Language</label>
                    <div class="col-sm-10">
                      <ul class="dropdown-menu" role="form">
                        <li><a href="#">BAR</a></li>
                        <li><a href="#">ENG</a></li>
                        <li><a href="#">SPA</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="add_word_description">Description</label>
                    <div class="col-sm-offset-2 col-sm-10">
                      <textarea class="form-control" id="add_word_description"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn">Suggest</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

</body>
</html>
