{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  {% include "share/navbar.html" %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="btn" href="{% url 'word:word_list_view' %}">{% trans "to the word list" %}</a>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            {% include "dictionary/search.html" %}
          </div>
        </div>
        <div class="row">
          {% if word %}
            {% include "dictionary/words_table.html" %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include "dictionary/add_word_modal.html" %}
{% endblock %}

<script>
$(".dropdown-menu li a").click(function(){
  var sel_text = $(this).text();
  $(this).parents('.input-group').find('.txt').val(sel_text);
});
</script>
