{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="btn" href="{% url 'word:word_list_view' %}">{% trans "to the word list" %}</a>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            {% include "dictionary/search.html" %}
          </div>
        </div>
        <div class="row">
          {% if word %}
            {% include "dictionary/words_table.html" %}
          {% endif %}
        </div>
        <div class="row">
          <div class="col-md-12">
            {% if request.user.is_authenticated and not request.user.profile.has_used_suggested_words_limit %}
              <!-- Button trigger modal -->
              <a href="" data-toggle="modal"
                         data-target="#suggest_modal">{% trans "Suggest Word" %}</a>
                     <!-- Modal -->
                     {% include 'word/modal_suggest_word.html' %}
                     <!-- Modal -->
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>



<script>

$(document).ready(function(){
    // pre-filled word and synonym with words from translation
    var word = $.trim($("tbody>tr>td:first>a").text());
    $("#add_word_word").attr("value",word);
    var translate_word = $.trim($("tbody>tr>td:nth-child(2)>table>tbody>tr>td>a").text());
    $("<div class='item translate_word'></div>")
        .insertBefore(".synonym .selectize-control .selectize-input>input")
    $(".translate_word").attr('data-value', translate_word).text(translate_word);


    $('#suggest_modal').on('click', '.link', function () {
         $('.advanced-options').slideToggle("fast");
    });
    $(".dropdown-menu li a").click(function(){
        var sel_text = $(this).text();
        $(this).parents('.input-group').find('.txt').val(sel_text);
    });
});
</script>
{% endblock %}
