{% load crispy_forms_tags %}
{% load i18n %}
<form role="form" action="{% url 'dictionary:dict_view' %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <span class="label label-default">{% trans "BAR" %}</span>
    </div>
    <div class="col-md-8">
      <select class="form-control" name="sourcelang" id="sel_sourcelang">
        <option value="BAR">{% trans 'BAR' %}</option>
        {% for lang in languages %}
          <option value="{{ lang.name }}">{% trans lang.name %}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <input type="text" class="txt" name="word" value="{{ origin }}">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn" id="search_submit">{% trans "Search" %}</button>
    </div>
  </div>
</form>
