{% load crispy_forms_tags %}
<form role="form" action="/dict/" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-5">
      <span class="label label-default">BAR</span>
      <!-- <div class="input-group">
        <input type="text" class="txt form-control" id="origin_input" name="origin" value="{{ origin }}">
        <a class="input-group-addon btn dropdown-toggle btn-select input-group-addon" data-toggle="dropdown" href=""><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          {% for lang in languages.all %}
            <li><a href="">{{ lang.name }}</a></li>
          {% endfor %}
        </ul>
      </div> -->
    </div>
    <div class="col-md-2">
      <span class="glyphicon glyphicon-transfer"></span>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <input type="text" class="txt form-control" id="target_input" name="target" value="{{ target }}">
        <a class="input-group-addon btn dropdown-toggle btn-select input-group-addon" data-toggle="dropdown" href=""><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          {% for lang in languages.all %}
            <li><a href="">{{ lang.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <input type="text" class="txt" name="word" value="{{ origin_word }}">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn" id="search_submit">LOS</button>
    </div>
  </div>
</form>
