<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      {% for item in words.values %}
        <tr>
          <td>
            <a
              data-toggle="popover"
              data-html="true"
              data-content='{% include "dictionary/word_info.html" %}'>
              {{ item.word.word }}
            </a>
          </td>
          <td>
            <table class="table table-striped">
              {% for translation in item.trans %}
                {% if translation.language.name == target %}
                  <tr><td>
                    {{ translation.word }}
                  </td></tr>
                {% endif %}
              {% endfor %}
            </table>
            {% if request.user.is_authenticated %}
              <button type="button" class="btn" data-toggle="modal" data-target="#add_synonym">Add Synonym</button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if request.user.is_authenticated %}
      <button type="button" class="btn" data-toggle="modal" data-target="#add_word">Nais Voadd</button>
    {% endif %}
  </div>
</div>
