<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      {% for word in words.all %}
        <tr>
          <td>
            <a
              data-toggle="popover"
              data-html="true"
              data-content='
                <table class="table">
                  <tr>
                    <td>Upvotes:</td>
                    <td>{{ word.upvotes }}</td>
                  </tr>
                  <tr>
                    <td>Downvotes:</td>
                    <td>{{ word.downvotes }}</td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>{{ word.status }}</td>
                  </tr>
                </table>
                <div>
                <a href="">View Discussions</a>
                </div>
                <div>
                <a href="">Create Discussion</a>
                </div>
                <div>
                <a href="">View History</a>
                </div>'>
              {{ word.word }}
            </a>
          </td>
          <td>
            <table class="table table-striped">
              {% for synonym in word.synonyms.all %}
                {% if synonym.language.name == target %}
                  <tr><td>{{ synonym.word }}</td></tr>
                {% endif %}
              {% endfor %}
            </table>
            <button type="button" class="btn" data-toggle="modal" data-target="#add_synonym">Add Synonym</button>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
