<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      {% for word in words.all %}
        <tr>
          <td>
            <a
              data-toggle="popover"
              data-html="true"
              data-content='{% include "dictionary/word_info.html" %}'>
              {{ word.word }}
            </a>
          </td>
          <td>
            <table class="table table-striped">
              {% for translation in word.foreign_translations.all %}
                {% if translation.language.name == target %}
                  <tr><td>
                    <!-- <a
                      data-toggle="popover"
                      data-html="true"
                      data-content='{% include "dictionary/word_info.html" %}'>
                    </a> -->
                    {{ translation.word }}
                  </td></tr>
                {% endif %}
              {% endfor %}
            </table>
            {% if request.user.is_authenticated %}
              <button type="button" class="btn" data-toggle="modal" data-target="#add_synonym">Add Synonym</button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <table class="table table-striped">
      {% for word in trans.all %}
        <tr>
          <td>
            <table class="table table-striped">
              {% for translation in word.bavarian_translations.all %}
                <tr><td>
                  <a
                    data-toggle="popover"
                    data-html="true"
                    data-content='{% include "dictionary/word_info.html" %}'>
                    {{ translation.word }}
                  </a>
                </td></tr>
              {% endfor %}
            </table>
            {% if request.user.is_authenticated %}
              <button type="button" class="btn" data-toggle="modal" data-target="#add_synonym">Add Synonym</button>
            {% endif %}
          </td>
          <td>
            <!-- <a
              data-toggle="popover"
              data-html="true"
              data-content='{% include "dictionary/word_info.html" %}'>
            </a> -->
            {{ word.word }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if request.user.is_authenticated %}
      <button type="button" class="btn" data-toggle="modal" data-target="#add_word">Nais Voadd</button>
    {% endif %}
  </div>
</div>
