{% load i18n %}


<form method='post' action="{% url 'login' %}">
  {% csrf_token %}


  <div class='form-group'>
    <input type='text' class='form-control' name='username' placeholder="{% trans 'User' %}" />
    <input type='password' class='form-control' name='password' placeholder="{% trans 'Password' %}" />
    <input type='hidden' name='previous' value='{{ request.path }}' />
  </div>
  <div class="row">
    <div class="col-xs-6">
      <input class='btn btn-default' type='submit' value="{% trans 'Login' %}" name='login' />
    </div>
    <div class="col-xs-6">
      <a id="signup-link" class="btn btn-default" href="/signup/">Sign up</a>
    </div>
  </div>
</form>
