<nav class="navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dict_navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id='brand' class="navbar-brand" href="#">Boariš</a>
    </div>
    <div class="collapse navbar-collapse" id="dict_navbar">
      <ul class="nav navbar-nav">
        <li{% if "dict" in request.path %} class="active"{% endif %}>
          <a href="/dict/">Veaddabuah</a>
        </li>
        <li{% if "translate" in request.path %} class="active"{% endif %}>
          <a href="#">Ivasezza</a>
        </li>
        <li{% if "learn" in request.path %} class="active"{% endif %}>
          <a href="#">Leana</a>
        </li>
        <li{% if "grammar" in request.path %} class="active"{% endif %}>
          <a href="#">Gramaddig</a>
        </li>
        <li{% if "collection" in request.path %} class="active"{% endif %}>
          <a href="/collection/">Såmlung</a>
        </li>
        <li{% if "discuss" in request.path %} class="active"{% endif %}>
          <a href="#">Dišgrian</a>
        </li>
      </ul>
      {% if not request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a
              data-toggle="popover"
              data-html="true"
              data-placement="bottom"
              data-content="{% include 'share/login.html' %}"
            >
              <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
