{% load crispy_forms_tags %}

<li>
  <form method='post' action='/user/profile/{{ request.user.id }}'>
    {% csrf_token %}
    {{ form|crispy }}
    <input class='btn' type='submit' value='Meu Brofui' name='profile' />
  </form>  
  <form method='post' action='/logout/'>
    {% csrf_token %}
    {{ form|crispy }}
    <div class='form-group'>
      <input type='hidden' name='previous' value='{{ request.path }}' />
    </div>
    <input class='btn' type='submit' value='Obmeidn' name='logout' />
  </form>  
</li>
