{% load crispy_forms_tags %}
{% load i18n %}

<li>
  <a href="{% url 'user:profile_view' request.user.profile.id %}" class="btn">
    {% trans "My Profile" %}
  </a>
  <form method='post' action='{% url "logout" %}'>
    {% csrf_token %}
    {{ form|crispy }}
    <div class='form-group'>
      <input type='hidden' name='previous' value='{{ request.path }}' />
    </div>
    <input class='btn' type='submit' value='{% trans "Logout" %}' name='logout' />
  </form>
  {% if request.user.is_staff %}
  </br>
  <a href="/proposal/topics/" class="active">
    <span class="glyphicon glyphicon-transfer"></span> {% trans "Discuss" %}
  </a>
  {% endif %}
  {% if request.user.is_superuser %}
  <a href="{% url 'admin:index' %}">
    <span class="glyphicon glyphicon-knight"></span> {% trans "Admin" %}
  </a>
  {% endif %}
</li>
