{% load crispy_forms_tags %}
{% load i18n %}

<li>
  <a href="{% url 'user:profile_view' request.user.id %}" class="btn">
    {% trans "My Profile" %}
  </a>
  <form method='post' action='{% url "logout" %}'>
    {% csrf_token %}
    {{ form|crispy }}
    <div class='form-group'>
      <input type='hidden' name='previous' value='{{ request.path }}' />
    </div>
    <input class='btn' type='submit' value='Óbmeidn' name='logout' />
  </form>
  {% if request.user.is_staff %}
  <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
  {% endif %}
</li>
