{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="page-header">
    <h1>{{ profile.user.username }}</h1>
  </div>
  <p>
      {{ profile.description }}
  </p>
  <p>
    {% trans "Reputation:" %} {{ profile.reputation }}
  </p>
  {% for lang in profile.languages.all %}
  <p>
      {% trans lang.language.name %} {% trans lang.proficiency %}
  </p>
  {% endfor %}
  <p>
    {% trans "Joined" %}: {{ profile.join_date }}
  </p>
{% endblock %}
