{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
<div class="container profile">
    <div class="row">
      <div class="col-sm-4">
        <p><img src="http://placehold.it/180x180" class="img-responsive" alt="placeholder" /> </p>
        {% if profile.user.is_staff %}
          <p>Admin</p>
        {% endif %}
      </div>
      <div class="col-sm-6">
        <div class="big_name">
          <h1>{{ profile.user.first_name|title }} {{ profile.user.last_name|title  }}&nbsp<small><i class="glyphicon glyphicon-map-marker"></i>{{ profile.place }}</small></h1>
          <p>
            {% trans "Reputation:" %} {{ profile.reputation }}
          </p>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="profile_tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="about_tab" data-toggle="tab" href="#about" role="tab" aria-controls="home" aria-selected="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="other_tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false"></a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="tab-content-about-tab">
          <div class="tab-pane active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <br>
            <p>{{ profile.description }}</p>
            <p>Languages:</p>
            <table class="profile_table">
              {% for lang in profile.languages.all %}
                <tr>
                  <td>
                    {% trans lang.language.name %}
                  </td>
                  <td class="table-vertical-border">
                    {% trans lang.proficiency %}
                  </td>
                  <td>
                    {% if lang.is_moderator %}
                      <span class="small">Moderator</span>
                    {% endif %}
                   </td>
                </tr>
              {% endfor %}
            </table>
            <br>
            <p>{% trans "Joined" %}: {{ profile.join_date }}</p>
            <p>{% trans "Last active" %}: {{ profile.user.last_login }}</p>
          </div>
          <div class="tab-pane" id="other" role="tabpanel" aria-labelledby="profile-tab">...</div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
