{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="container suggest_form">
  <h3>Add new collection</h3><br>
    <form class="form-horizontal" action="{% url 'collection:new_collection' %}" method="post">
      {% csrf_token %}
      <div class="form-group ">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="title" required />
          </div>
      </div>

      <div class="form-group ">
          <label for="author" class="col-sm-2 control-label">Author</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="author" name="author"/>
          </div>
      </div>

      <div class="form-group ">
          <label for="collection_text" class="col-sm-2 control-label">Text</label>
          <div class="col-sm-10">
              <textarea type="text" class="form-control" id="collection_text" name="text" required /></textarea>
          </div>
      </div>

      <div class="form-group">
          <label for="type" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
                {% for key, value in collection_types.items %}
                    <input type="radio" name="type" value="{{ key }}" checked required> {% trans value %}
                {% endfor %}
          </div>

      </div>

      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-3">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>

        <div class="col-xs-offset-2 col-xs-3 col-sm-offset-4 col-sm-3">
          <a class="btn btn-primary suggest-another-button">{% trans "Save and validate" %}</a>
        </div>

      </div>
    </form>



  </div>

{% endblock %}