{% extends 'share/base_site.html' %}
{% load i18n %}


{% block content %}
  <style type="text/css">
    #word_details {
      position: fixed;
    }
  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <h2>
          {{ collection.title }}
        </h2>
        <dl>
          <dt>
            {% trans "Author" %}
          </dt>
          <dd>
            {{ collection.author }}
          </dd>
          <dt>
            {% trans "Creator" %}
          </dt>
          <dd>
            {{ collection.reporter }}
          </dd>
        </dl>
        <p class="text-center">
          {{ text|safe|linebreaks }}
        </p>
      </div>
      <div id="word_detail" class="col-md-4">
        <h2 id="word_click_hint">{% trans "Click on a word to show its details" %}</h2>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
  function show_word_detail(id) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange =  function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("word_detail").innerHTML = this.responseText;
      }
    };
    xhttp.open("POST", "/api/words/" + id + "/bare/", true);
    xhttp.send();
  }

  </script>
{% endblock %}
