{% extends 'share/base_site.html' %}
{% load i18n %}


{% block content %}
  <style type="text/css">
    #word_details {
      position: fixed;
    }
  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <h2>
          {{ collection.title|capfirst }}
        </h2>
        <p>{{ col_type }}</p>
        <p><span class="text-muted">By </span>
            {% if collection.author|title %}
                {{ collection.author|title }}
            {% else %}
                Unknown
            {% endif %}
        </p>
        {%  if collection.reporter.user.username|lower != collection.author|lower %}
         <p><span class="text-muted">Submitted by </span> {{ collection.reporter|title }}</p>
        {% endif %}

        <p class="text-center">
          {{ text|safe|linebreaks }}
        </p>
      </div>
    {% if user.is_authenticated %}
      <div class="col-md-4">
          <br><br>
          <p><a class="btn btn-default collection-buttons white-text" href="/collection/edit_collection/{{ collection.id }}/">edit
          </a></p>
          {% if request.user.is_staff == True %}
          <p>
          <button class="btn btn-default collection-buttons white-text">validate
          </button></p>
          {% endif %}
      </div>
    {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
  function show_word_detail(id) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange =  function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("word_detail").innerHTML = this.responseText;
      }
    };
    xhttp.open("POST", "/api/words/" + id + "/bare/", true);
    xhttp.send();
  }

  </script>
{% endblock %}
