{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="container-fluid">
      <br>
      <br>
      <div class="col-md-2 left-col">
          {% for col_type in collection_types %}
                <p><a class="type_search" href="/collection/{{ col_type.type }}">{{ col_type.type }}</a></p>
          {% endfor %}
      </div>

      <div class="col-md-10">
          <form action="/collection/" method="get" class="form-inline form-group" role="search">
              <input type="text" id="query" name="keywords"
                     class="form-control col-md-8" placeholder="Search"/>
              <button type="submit" class="btn btn-primary" id="search_button">GO
              </button>
          </form>
          <table class="collection-table">
               <tr>
                  <th class="col-md-2">Title</th>
                  <th class="col-md-9">Snippet</th>
                  <th class="col-md-1"></th>
               </tr>
              {% for col in collections %}
               <tr>
                  <td class="col-md-2">{{ col.title }}</td>
                  <td class="col-md-9">{{ col.text|truncatechars:100 }}</td>
                  <td class="col-md-1">
                      <p><a href="/collection/{{ col.id }}/">View</a></p>
                      <p><a href="">Edit</a></p>
                  </td>
               </tr>
              {% endfor %}
          </table>
      </div>

  </div>
<script>
$(document).ready(function() {
    $('.type_search').click(function() {
        var collection_type = $(".type_search").val();
        $.getJSON('/api/collection/?collection_type=' + collection_type, function (result) {

        });
    });

});
</script>
{% endblock %}
