{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>
          {{ object.title }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>
          {% trans "Topic" %}: {{ object.topic.title }}
        </h3>
        <p>
          {{ object.description }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          {{ object.upvotes }}
        </p>
        <p>
          {{ object.downvotes }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="{% url 'proposal:proposal_edit_view' pk=object.id %}">{% trans "Edit" %}</a>
      </div>
    </div>
  </div>
{% endblock %}
