{% extends 'share/base_site.html' %}
{% load i18n %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>
          {{ object.title }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          {{ object.description }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>
                {% trans "Title" %}
              </th>
              <th>
                {% trans "Creator" %}
              </th>
            </tr>
          </thead>
          <a class="btn" href="{% url 'proposal:proposal_add_view' %}">{% trans "New Suggestion" %}</a>
          <tbody>
            {% for proposal in proposals %}
              <tr>
                <td>
                  <a class="btn" href="{% url 'proposal:proposal_detail_view' proposal.id %}">{{ proposal.title }}</a>
                </td>
                <td>
                  {{ proposal.created_by.user.username }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
